[push]
  default = current
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = nvim
  commentChar = %
[merge]
  ff = only
[pull]
  ff = only
  default = current
[rerere]
  enabled = true
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[user]
  name = khoi
  email = git@khoi.io
	signingkey = F47C65E640FCC9C5
[commit]
	gpgsign = true
[ghq]
  root = ~/code
