[push]
  default = current
[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore_global
  autocrlf = input
	editor = nvim
[merge]
  ff = only
[rerere]
  enabled = 1
[fetch]
  prune = true
[rebase]
  autosquash = true
[include]
  path = ~/.gitconfig.local
