[push]
  default = current
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = nvim
  commentChar = %
  pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
  ff = only
[pull]
  ff = only
  default = current
[rerere]
  enabled = true
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[include]
  path = ~/.gitconfig.local
