[push]
  default = current
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = nvim
  commentChar = %
[merge]
  ff = only
[pull]
  ff = only
  default = current
[rerere]
  enabled = true
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[include]
  path = ~/.gitconfig.local
[alias]
  recent = ! git for-each-ref --sort=-committerdate --count=15 --format='%(authorname),%(color:bold yellow)%(refname:short)%(color:reset) (%(color:bold magenta)%(committerdate:relative)%(color:reset)) %(color:cyan)%(objectname:short)%(color:reset) - %(color:dim white)%(contents:subject)%(color:reset)' refs/heads/ | cut -d, -f2-
  ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
	pushall = !git remote | xargs -L1 git push --all


